@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-pulse {
  /* box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
  transform: scale(0.8); */
  animation: pulse 2s infinite ;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(60,179,113, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(229,62,62, 0);
  }
  
  100% {
    transform: scale(0.8);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D4AF37;
  border-radius: 28px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: none;
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
} 
